@import './colors.scss';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
        font-family: 'Poppins', Arial, sans-serif;
    }

    .restaurant-list{
        padding: 0 7%;
        width: 100%;
        display: flex;
        flex-wrap:wrap;
    }

    .heading{
        width: 85%;
        margin: 0 8%;
        margin-top: 30px;
        border-width: 1px;
        border-style: none none solid none;
        border-color: $primary-color;
    }