@import '../../styles/colors.scss';

.restaurant-card{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    margin: 3% 1%;
    width: 300px;
    position: relative;
    &__item{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        height: 200px;
        display: inline-block;
        text-align: center;
        width: 300px;
        color: $dark-color;
        .restaurant-card__information{
            display: flex;
            flex-direction: column;
            position: absolute;
            border-radius: 20px 20px;
            padding: 5px 10px;
            padding-left: 20px;
            bottom:0;
            left: 0;
            text-align: left;
            width: 100%;
            color: $dark-color;
            z-index: 1;
            font-weight: 200;
            background-color: rgba(255, 255, 255, 0.838);
            .information{
            &__name{
                width: 80%;
                border-width: 1px;
                border-style: none none solid none;
                border-color: $extra-color-dark;
            }
            &__review{
                color: $secondary-color;
            }
        
        }
        }
        img{
            height: 200px;
            position: absolute;
            left:0;
            top:0;
        }
    }
    &:hover{
        transition: margin 0.5s;
        margin-top: 2%; 
    }
}